<%- include('partials/head') %>

    <nav class="navbar navbar-expand-lg bg-body-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Express JS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/random">Random</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cat">cat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/r/chess">chess</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <h1>This page is from <b style="color:blue;"><%=name%></b></h1>
    <div class="container">
        <p><img src="<%=image%>"></p>
        <p><%=description%></p>
     <div>
        <% for(let post of posts){%>
            <div style="border:1px solid black; margin:10px; padding:10px;">
                <h2><%=post.title%></h2>
                <p><%=post.author%></p>
            </div>
        <%}%>
     </div>
    </div>
